{% extends "layout.html" %}

{% block title %}
    Orders History
{% endblock %}

{% block main %}
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Stock Symbol</td>
                <td>Shares Quantity</td>
                <td>Order Type</td>
                <td>Price Bought/Sold</td>
                <td>Date & Time</td>
            </tr>
        </thead>
        <tbody>
            {% for data in history%}
            <tr>
                <td>{{ data["symbol"] }}</td>
                <td>{{ data["shares"] }}</td>
                <td>{{ data["type"] }}</td>
                <td>{{ usd(data["price"]) }}</td>
                <td>{{ data["time"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}